.wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  .rows {
    display: flex;
    flex-direction: row;
  }
  .cell {
    width: 20px;
    height: 20px;
    color: aquamarine;
    background-color: aquamarine;
    border: 1px solid bisque;

    &-used {
      color: coral;
      background-color: coral;
    }

    &-verified {
      background-color: rgb(3, 158, 248);
    }

    &-blank {
      color: transparent;
      background-color: transparent;
      border: 1px solid transparent;
    }
  }
}

.cell-used {
  width: 20px;
  height: 20px;
}
